Source: pogmom-apps
Section: metapackages
Priority: optional
Maintainer: Penelope Gwen <support@pogmom.me>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.0
Homepage: https://git.pogmom.me/pogmommy/pogmom-apps

Package: pogmom-apps
Architecture: all
Depends:
 alacritty,
 chromium,
 feh,
 filelight,
 firefox,
 gimp,
 inkscape,
 kate,
 kdeconnect,
 keepassxc-full,
 libreoffice,
 libreoffice-qt5,
 lxqt-archiver,
 mpv,
 nextcloud-desktop,
 obs-studio,
 partitionmanager,
 pcmanfm-qt,
 qbittorrent,
 sqlitebrowser,
 syncthing-gtk,
 thunderbird,
 timeshift,
 virt-manager,
 xournalpp
Description: Recommended desktop packages
 This metapackage includes various pieces of software to be used in a desktop environment
