Package: pogmom-apps
Version: 0.1.4
Architecture: all
Maintainer: Penelope Gwen <support@pogmom.me>
Installed-Size: 11
Depends: alacritty, chromium, feh, filelight, firefox, gimp, inkscape, kate, kdeconnect, keepassxc-full, libreoffice, libreoffice-qt5, lxqt-archiver, mpv, nextcloud-desktop, obs-studio, partitionmanager, pcmanfm-qt, qbittorrent, sqlitebrowser, syncthing-gtk, thunderbird, timeshift, virt-manager, xournalpp
Section: metapackages
Priority: optional
Homepage: https://git.pogmom.me/pogmommy/pogmom-apps
Description: Recommended desktop packages
 This metapackage includes various pieces of software to be used in a desktop environment
